*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header superior  */ 
.headerContainer{
    background-color: #fff ;
    background: #000;
}

.headerContact{
    color: #fff;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;

}

.headerContact span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    /* padding: 0 .5rem; */
    margin: auto 0;
}

/* barra de redes sociales */
.headerSocialNetworks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.headerSocialNetworks span:hover{
    cursor: pointer;
}

#user{
    margin: auto 0;
    font-size: 1.5rem;
    color: #fff;
}

/* Titulo de la pagin */
.title{
    color: #fff;
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
}
.title h1{
    cursor: pointer;
    margin: 0 .3rem;
    text-align: center;
}

.brand{
    display: none;
}

.brand img {
    height: 2.9375em ;
    padding: 0 .2rem ;
}

/* Boton de carrito */
.title span{
    cursor: pointer;
}

#spanCart{

    height: 1.5rem;
    border-radius: 10%;
}

#spanCart:hover{
    background-color: greenyellow;
    color: #000;
}


#contCarrito{
    background-color: red;
    border-radius: 100%;
    padding: .1rem;
    margin: 0 .5rem;
    color: #fff;
    font-size: .5rem;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    right: 0;

}

/* Filtro de productos */

.selectorContainer{

    border: #ccc solid 1px;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem 1rem ; 
    box-shadow: #ccc 1px 1px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#select{
    border: none;
    outline: none;
    font-family: sans-serif;
}

@media screen and (max-width: 600px) {
    #select{
        width: 100%;
    }
    #selectOrdenar{
        display: block;

    }
}

@media screen and (min-width: 650px){
    .headerContact span{
        font-size: 1.5rem;
        display: inline-block;
    }
    .brand{
        background-color: #333;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .title h1{
        font-size: 3rem;
    }

    .title span{
        font-size: 3rem;
    }
    #contCarrito{
        font-size: 1rem;
        padding: 0 auto;
    }

    #spanCart{
        height: 100%;
    }

    .headerSocialNetworks{
        margin: .5rem;
    }

    .headerSocialNetworks span{
        font-size: 3rem;
    }

    .productsContainer div{
        width: 14rem;
    
    }
    .card{
        box-sizing: content-box;
        padding: .5rem;
        margin: 0
    }
}

#selectOrdenar{
    border: none;
    outline: none;
    font-family: sans-serif;
}

/* Card de productos*/

.productsContainer{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.card{
    background-color: #fff;
    width: 10rem;
    border: #ccc solid 1px;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    box-shadow: #ccc 1px 1px 3px;
}
.card:hover{
    box-shadow: #ccc 1px 1px 10px;
}

.topCard img{
    width: 100%;

}

.botCard{
    display: flex;
    flex-direction: column;
}

.botCard h5{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 2rem;
}

.botCard span{
    text-align: center;
    padding: 1rem 0;
    font-family: sans-serif;
    font-weight: bolder;
}

.botCard p {
    font-size: .9rem;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(0, 128, 0);
    color: #fff;
    padding: .5rem;
    border-radius: 3rem;
}

.botCard p:hover {
    cursor: pointer;
    background-color: rgb(0, 158, 0);
}

