#footer{
    background-color: #000;
    color: #fff;
  }

.footerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
  

.footerBox1, .footerBox2, .footerBox1 a, .footerBox2 a{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: .5rem;
    margin-top: 1rem;
    text-decoration: none;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .footerBox1, .footerBox2, .footerBox1 a, .footerBox2 a{
        justify-content: space-between;

    }
}

#endFooter{
    text-align: center;
    margin-top: 7rem;

}