.modalCarrito{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

@-webkit-keyframes animatetop {
    from {right:-10rem; opacity:0} 
    to {right:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {right:-10rem; opacity:0}
    to {right:0; opacity:1}
  }

.modalContentCarrito{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 2rem;
    height: 100%;
    box-shadow: #000 0.2px 0.2px 5px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modalHeaderCarrito{
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;

}
.modalHeaderCarrito span{
    display: inline;
    font-size: 2rem;
    color: #999;
    cursor: pointer;
}

.modalHeaderCarrito span:hover{
    color: #000;
}

.modalHeaderCarrito h2{
    font-family: sans-serif;
    padding-bottom: 1rem;
    margin: 0 1rem;

}

.productoEnCarrito{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1rem;

}

.productoEnCarrito button{
    color: #000;
}

.productoEnCarrito button:hover{
    color: #000;
}

.modalBodyCarrito{

}

.modalBodyCarrito span{
    
}

.modalFinalizarCompra{

}

.modalFinalizarCompra button{
    background-color: #000;
    color: #fff;
    width: 100%;
}

#modalFinalizarCompra{
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    padding: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.modalFinalizarCompra p{
    text-decoration: underline;
    cursor: pointer;
}
.modalIniciarCompra{

    text-align: center;
}

.modalIniciarCompra button{
    background-color: #000;
    color: #fff;
    width: 100%;
}

.modalIniciarCompra p{
    background-color: #eee;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: .5rem;
    margin-bottom: 1rem;
}

.square{
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 1rem; */
    /* border: #666 solid 1px; */
}

.left img{
    width: 5rem;
}

.center{
    font-size: 1rem;
}

.center h5{
    font-family: sans-serif;
}

.center span{


    padding: 0.5rem;
}

.cantItem{
    font-family: sans-serif;
    border-bottom: #666 solid 1px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    text-align: right;
    align-items: end;
    font-weight:600 ;
    width: 5rem;
}


.delete{
    color: #666;
    cursor: pointer;
}
.delete:hover{
    color: #000;
}

.right button{
    text-align: right;
    width: 2rem;
}

.totalCarrito{
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

#precioTotal{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1rem
}


/* -------------------------------------------------------------------------------------------------------- */
/* checkout */

.modalCheckout{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.modalContentCheckout{
    position: fixed;
    background-color: #fff;
    right: 0;
    height: 100%;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modalContentCheckout h2{
    text-align: center;
    font-family: sans-serif;
    padding: 1rem;
}

.formatForm{
    padding: .5rem;
}

#formContentCard{
    width: 100%;
    display: block;
}

#titleCardForm{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
}

#contentCardForm{
    width: 100%;
    margin-bottom: .5rem;
}

#formContentBank{
    width: 100%;
    display: block;
    margin-bottom: .5rem;
}

#expCardForm{
    
}

#expForm{
    width: 100%;
}


#yearExpirationForm{
    width: 100%;
}

.formatForm label{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    width: 9.2rem;
}

#fullNameCard{
    margin-top: .5rem;
    display: block;
    width: 100%;
}

#fullNameCardForm{
    width: 100%;
    margin-bottom: .5rem;
}

#codeCard{
    display: block;
    
}

#codeCardForm{
    width: 100%;
    display: block;
    margin-bottom: .5rem;
}

#titleDI{
    display: block;
    width: 100%;
}

#DIForm{
    width: 49%;
}

#DINumberForm{
    width: 49%;
    margin-bottom: .5rem;
}

#submitButton{
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    padding: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#deleteBuy{
    cursor: pointer;
    width: 100%;
    border: none;
    padding: .5rem;
    margin-bottom: 1rem;
}

#tituloPrecioTotal{
    font-family: sans-serif;
    font-weight: 600;
}

#precioTotalaPagar{
    font-family: sans-serif;
    font-weight: 600;
}